body
{
    /*width: 100%;
    height: 100%;*/
    margin: 0;
    text-align: center;
    font-family: serif;
}
#nav
{
    width:80%;
    height: 80px;
    margin-left: 10%;
    text-align: center;
    position: fixed;
    top: 0px;
    background-color: White;
    z-index: 2;
}

#logo
{
    /*display: inline-block;
    float: middle;*/
    font-family: 'Clicker Script', cursive;
    font-size: 41px;
    /*width: 320px;*/
    text-align: center;
    color: rgb(100,100,100);
}
#logo a
{
    color: rgb(100,100,100);
    text-decoration: none;
}
#logo a:hover
{
    color: inherit;
    text-decoration: inherit;
}
#logo a:visited
{
    color: inherit;
    text-decoration: inherit;
}
#navitems
{
    /*display: block;
    /*display: inline-block;*/
    /*float: middle;*/
    font-size: 14px;
    text-align: center;
    /*width: 320px;*/
}
#navitems a
{
    color: rgb(50,50,50);
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    width: 100px;
}
#navitems a:visited
{
    text-decoration: none;
    color: rgb(50,50,50);
}
#navitems a:hover
{
    /*background-color: #024668;
    color: White;*/
    text-decoration: underline;
}
.headings
{
    font-family: 'Abril Fatface', cursive;
    font-size: 42px;
}
#taglines
{
    width: 80%;
    height: 360px;
    min-width: 800px;
    font-size: 6.5em;
    line-height: 1.09em;
    display: table;
    background-repeat: repeat;
    background-image: url("../back.png");
    margin-top: 180px;
    margin-left: 10%;
    border-radius: 5px;
}
#taglines .content
{
    display:table-cell;
    vertical-align: middle;
    color: White;
    font-style: normal;
    font-weight: 400;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}
#tag-icons
{
    font-size: 20px;
    margin-top: 20px;
    color: White;
    display: inline-block;
}
#goto-left-banner, #goto-right-banner
{
    width:30px;
    height:30px;
    background-color: #666666;
    display: inline-block;
    float: left;
    border-radius:20px;
    cursor: pointer;
}
#goto-right-banner
{
    margin-left: 20px;
}
#goto-left-banner.mousedown, #goto-right-banner.mousedown
{
    background-color: Black;
}
#goto-left-banner.disabled, #goto-right-banner.disabled
{
    opacity: 0.5;
}
#goto-left-banner .icon-left-open, #goto-right-banner .icon-right-open
{
    display: block;
    margin-top: 5px;
}
#goto-left-banner .icon-left-open
{
    float: left;
}
#goto-right-banner .icon-right-open
{
    float: right;
}

#about
{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    text-align: left;
    padding-top: 80px;
}
#about p
{
    text-indent: 50px;
}